# Ignore user-specific config
config-files/smb.conf
config-files/motd
.DS_Store
show-files/
ontime-data/
config-files/docker-compose.yml
site/
captions/__pycache__/caption_helper.cpython-311.pyc
captions/__pycache__/helper.cpython-311.pyc
captions/__pycache__/user_config_helper.cpython-311.pyc
